.gc-social-wall-admin #widgets-right .sidebars-column-1, #widgets-right .sidebars-column-2 {
	float: left;
	width: 90%;
	max-width: none;
}

.gc-social-wall-admin .control-checkbox-wrap{
	float: left;
}

.gc-social-wall-admin .shortcode{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	display: block;
	float: left;
	margin: 20px 0 0;
	padding: 15px;
	width: 94%;
	position: relative;
}

.gc-social-wall-admin .shortcode code{
	padding: 3px 5px 2px;
	margin: 0px 1px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.07);
	font-size: 13px;
	float: left;
	word-wrap: break-word;
	width: 99%;
}

.gc-social-wall-admin .shortcode .select-all{
	position: absolute;
	right: 15px;
	top: 30px;
}