.bricks-content .brick{
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: block;
	float: left;
	width: 300px;
	margin: 0 0 10px 0;
}

.bricks-content .brick .brick-type{
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	width: 30px;
	height: 30px;	
	text-align: center;
}

.brick.twitter footer,
.brick.twitter .brick-type{
	background: #55acee;
}

.brick.facebook footer,
.brick.facebook .brick-type{
	background: #3b5998;
}

.brick.post footer,
.brick.post .brick-type{
	background: #222222;
}

.bricks-content .brick .brick-type:hover{
	opacity: 0;
}

.bricks-content .brick .brick-type i{
	line-height: 30px;
	color: white;
}

.bricks-content .brick header img{
	width: 100%;
	border-radius: 0;
}

.bricks-content .brick section{
	padding: 20px;
}

.brick footer{
	text-align: center;
	padding: 15px;
	color: white;
}

.brick footer a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}